.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
}

.card-total-txt {
  color: #fff;
}

.card-total-number {
  color: #fff;
}

.card-euro-symb {
  color: #fff;
}